@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Nunito Sans';
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-bold text-3xl md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-bold text-2xl md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-bold text-xl md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-bold text-lg md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-bold text-base md:text-lg;
  }

  body,
  .p {
    @apply text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 80.75rem;
    @apply mx-auto w-11/12;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .ic .css-r58ril {
    display: none !important;
  }

  .swiper {
    padding-bottom: 50px !important;
  }

  .swiper .swiper-pagination-bullet {
    padding: 6px;
  }

  .swiper .swiper-pagination-bullet-active {
    background: gray !important;
    color: red !important;
  }

  /* nav-icon-5 */
  .nav-icon-5 {
    width: 25px;
    height: 10px;
    margin: 0;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  .nav-icon-5 span {
    background-color: black;
    position: absolute;
    border-radius: 2px;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    width: 100%;
    height: 4px;
    transition-duration: 200ms;
  }
  .nav-icon-5 span:nth-child(1) {
    top: 0px;
    left: 0px;
  }
  .nav-icon-5 span:nth-child(2) {
    top: 13px;
    left: 0px;
    opacity: 1;
  }
  .nav-icon-5 span:nth-child(3) {
    bottom: 0px;
    left: 0px;
  }
  .nav-icon-5:not(.open):hover span:nth-child(1) {
    transform: rotate(-3deg) scaleY(1.1);
  }
  .nav-icon-5:not(.open):hover span:nth-child(2) {
    transform: rotate(3deg) scaleY(1.1);
  }
  .nav-icon-5:not(.open):hover span:nth-child(3) {
    transform: rotate(-4deg) scaleY(1.1);
  }
  .nav-icon-5.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 6px;
  }
  .nav-icon-5.open span:nth-child(2) {
    opacity: 0;
  }
  .nav-icon-5.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 6px;
  }
}
